.container-login{
    width: 100%;
    height: 100%;
    position: absolute;
    /* 
    z-index: 9999; */
    background-color: #444444;
    background-image: url("assets/images/bg_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans";
    text-align: center;
  }

.form-signin {
  width: 100%;
  padding-top: 15px;
  padding-left: 64px;
  padding-right: 64px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  
/* =========== */
.login-header{
    margin-top: -75px;
    background-color: #3475b5;
    margin-left: 40px;
    margin-right: 40px;
}

.login-header .welcome{
    font-size: 24px;
}
.login-header .sysmexwam{
    font-size: 32px;
}
.login-header .welcome,
.login-header .sysmexwam{
    color: #fff;
    background-color: #3475b5;
}
.form-signin{
    width: 597px;
    height: 314px;
    border: 1px solid #fff;
    margin-top: 24%;
}
.clearfix{
    height: 25px;
}
.no-radius{
    border-radius: 0px;
}
button{
    background-color:#fff;
    font-size: 20px;
    color: #444444;
    margin-top: 20px;
}
#inputUserId{
    margin-top: 10px;
}
.copyright{
    color: #fff;
    margin-top: 70px;
    font-size: 18px;
    margin-left: 40px;
    font-family: MyriadPro;
}