

<div class="row">
  <div class="col-md-3 label">Patient Type</div>
  <div class="col-md-9">
    <select class="form-control" [(ngModel)]="searchModel.patienType">
      <option value="-1">--Select--</option>
      <option value="1">In patient</option>
      <option value="2">Out patient</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3 label">Gender</div>
  <div class="col-md-9">
    <select class="form-control" [(ngModel)]="searchModel.gender">
      <option value="-1">--Select--</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3 label">MRN</div>
  <div class="col-md-9">
    <input type="text" class="form-control" [(ngModel)]="searchModel.mrn">
  </div>
</div>
<div class="row">
  <div class="col-md-3 label">Name</div>
  <div class="col-md-9">
    <input type="text" class="form-control" [(ngModel)]="searchModel.patientName">
  </div>
</div>
<div class="row">
  <div class="col-md-3 label">Req. Location</div>
  <div class="col-md-9">
    <input type="text" class="form-control" [(ngModel)]="searchModel.reqLocation">
  </div>
</div>
<br><br>