<nav class="navbar navbar-expand navbar-dark fixed-top bg-blue  navbar-fixed-top">

  <button class="btn-expand-collapse-2 navbar-toggle collapsed btn btn-link" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
    aria-controls="navbar">
    <i class="fas fa-align-justify"></i>
  </button>
  <a class="navbar-brand" href="#">SYSMEX WAM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

    </ul>
     
    <form class="form-inline mt-2 mt-md-0">
      <span class="fas fa-search"></span>
      <input class="form-control mr-sm-2 search-box" type="text" placeholder="Search ..." aria-label="Search">
    </form>
    <ul class="navbar-nav mr-auto">

    </ul>
    <!-- nav menu item notify -->
    <div id="notify" >
        <span class="fas fa-bell"></span>
    </div>
|
    <!-- nav menu item user -->
    <div id="user-menu" class="dropdown">
      <div class="btn btn-link dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ul class="pl-0" style="list-style:none">
          <li style="float:left">
            <img src="assets/images/noimage.png" class="rounded-circle" alt="..." style="width:50px;">
          </li>
          <li style="float:left" class="text-left pl-10 pr-10">
            <strong>Administrator</strong>
          </li>
        </ul>

      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>


  </div>
</nav>
