<nav class="navbar-primary collapsed">
  <div class="footer-menu collapse">
    Copyright&copy; 1996-2018
    <br>
    <strong>Sysmex Corporation,</strong>
    <br> All Rights Reserved
  </div>
  <ul class="navbar-primary-menu">
    <li>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-tachometer-alt"></span>
        <span class="nav-label">Main Menu</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-indent"></span>
        <span class="nav-label">LIS Interfaces</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-list"></span>
        <span class="nav-label">Intr Interfaces</span>
      </a>

      <a [routerLink]="['dashboard']">
        <span class="fas fa-exclamation-triangle"></span>
        <span class="nav-label">Alerts</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-exclamation"></span>
        <span class="nav-label">QC-Alerts</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-sign-in-alt"></span>
        <span class="nav-label">Orders Pending</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-retweet"></span>
        <span class="nav-label">Orders Rerun</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-check-circle"></span>
        <span class="nav-label">To Validate</span>
      </a>
      <a [routerLink]="['dashboard']">
        <span class="fas fa-list"></span>
        <span class="nav-label">QC-To Validate</span>
      </a>
    </li>
  </ul>
</nav>